SinoSysWatchService.Application/Service References/SinoSZJSMetaDataQueryService/SinoSZJS.Base.Report.DataCheck.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.Report.DataCheck" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.Report.DataCheck" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReportHisDataRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportHisDataRow" nillable="true" type="tns:ReportHisDataRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportHisDataRow" nillable="true" type="tns:ArrayOfReportHisDataRow" />
  <xs:complexType name="ReportHisDataRow">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldsName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsShow" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsTitle" type="xs:boolean" />
      <xs:element minOccurs="0" name="OldValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RKValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportHisDataRow" nillable="true" type="tns:ReportHisDataRow" />
</xs:schema>