SinoSysWatchService.Application/Service References/SinoSZJSMetaDataQueryService/SinoSZJS.Base.MetaData.DataCheck.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.DataCheck" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.DataCheck" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMD_CheckRule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MD_CheckRule" nillable="true" type="tns:MD_CheckRule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMD_CheckRule" nillable="true" type="tns:ArrayOfMD_CheckRule" />
  <xs:complexType name="MD_CheckRule">
    <xs:sequence>
      <xs:element minOccurs="0" name="DWDM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodDefine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QueryModelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RuleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MD_CheckRule" nillable="true" type="tns:MD_CheckRule" />
  <xs:complexType name="MD_DataCheckMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="BH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CDDWDM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CDDWMC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FBDWDM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FBDWMC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FBR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FBSJ" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FKJG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FKSJ" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LXDH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SFYC" type="xs:decimal" />
      <xs:element minOccurs="0" name="SHJLID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XXBT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XXNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YJDZ" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MD_DataCheckMsg" nillable="true" type="tns:MD_DataCheckMsg" />
</xs:schema>