SinoSZClientBase/Service References/CommonService/SinoSZJS.Base.Notify.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.Notify" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.Notify" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NotifyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Context" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FBdwid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FBdwmc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FByhid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FByhmc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TelNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotifyInfo" nillable="true" type="tns:NotifyInfo" />
</xs:schema>