SinoSZClientBase/Service References/CommonService/SinoSZJS.Base.UserLog.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.UserLog" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.UserLog" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserLogRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserLogRecord" nillable="true" type="tns:UserLogRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserLogRecord" nillable="true" type="tns:ArrayOfUserLogRecord" />
  <xs:complexType name="UserLogRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="CZLX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CZNR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CZSJ" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultType" type="xs:int" />
      <xs:element minOccurs="0" name="ResultTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserHost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserLogRecord" nillable="true" type="tns:UserLogRecord" />
</xs:schema>