SinoSZClientBase/Service References/CommonService/SinoSZJS.Base.Config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.Config" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.Config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServerConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="Client_ShowPendingAlert" type="xs:boolean" />
      <xs:element minOccurs="0" name="RemoteRenewValue" type="xs:int" />
      <xs:element minOccurs="0" name="RootOrgID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerConfig" nillable="true" type="tns:ServerConfig" />
</xs:schema>