SinoSZClientBase/Service References/ReportService/SinoSZJS.Base.Report.ReportGuideLine.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.Report.ReportGuideLine" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.Report.ReportGuideLine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfMD_ReportGuideLineItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MD_ReportGuideLineItem" nillable="true" type="tns:MD_ReportGuideLineItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMD_ReportGuideLineItem" nillable="true" type="tns:ArrayOfMD_ReportGuideLineItem" />
  <xs:complexType name="MD_ReportGuideLineItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Children" nillable="true" type="tns:ArrayOfMD_ReportGuideLineItem" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:Enum_ReportGuideLineItemType" />
      <xs:element minOccurs="0" name="ZTName" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="MD_ReportGuideLineItem" nillable="true" type="tns:MD_ReportGuideLineItem" />
  <xs:simpleType name="Enum_ReportGuideLineItemType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Report" />
      <xs:enumeration value="GuideLine" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Enum_ReportGuideLineItemType" nillable="true" type="tns:Enum_ReportGuideLineItemType" />
  <xs:complexType name="MD_ReportGuideLineDefine">
    <xs:sequence>
      <xs:element minOccurs="0" name="DetialMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZBMeta" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MD_ReportGuideLineDefine" nillable="true" type="tns:MD_ReportGuideLineDefine" />
</xs:schema>