SinoSysWatchService.Application/Service References/SinoSZJSMetaDataService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.InputModel" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.QueryModel" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.EnumDefine" />
  <xs:element name="GetInputModelOfNamespace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Namespace" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInputModelOfNamespaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.InputModel" minOccurs="0" name="GetInputModelOfNamespaceResult" nillable="true" type="q1:ArrayOfMD_InputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInputModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Namespace" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInputModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.InputModel" minOccurs="0" name="GetInputModelResult" nillable="true" type="q2:MD_InputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewInputModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Namespace" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.InputModel" minOccurs="0" name="SaveModel" nillable="true" type="q3:MD_InputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewInputModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveNewInputModelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelInputModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InputModelID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelInputModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelInputModelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInputModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.InputModel" minOccurs="0" name="SaveModel" nillable="true" type="q4:MD_InputModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInputModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveInputModelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewInputModelGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.InputModel" minOccurs="0" name="Group" nillable="true" type="q5:MD_InputModel_ColumnGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewInputModelGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewInputModelGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelInputModelColumnGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InputModelID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelInputModelColumnGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelInputModelColumnGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InputModel_MoveColumnToGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.InputModel" minOccurs="0" name="Col" nillable="true" type="q6:MD_InputModel_Column" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.InputModel" minOccurs="0" name="InputModel_ColumnGroup" nillable="true" type="q7:MD_InputModel_ColumnGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InputModel_MoveColumnToGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InputModel_MoveColumnToGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInputModelColumnGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.InputModel" minOccurs="0" name="Group" nillable="true" type="q8:MD_InputModel_ColumnGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInputModelColumnGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveInputModelColumnGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindInputModelColumnByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InputModelID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ColumnName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindInputModelColumnByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindInputModelColumnByNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewInputModelColumn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InputModelID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ColumnName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewInputModelColumnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewInputModelColumnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelInputModelColumn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ColumnID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelInputModelColumnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelInputModelColumnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OracleTableExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OracleTableExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OracleTableExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewInputModelSavedTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InputModelID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewInputModelSavedTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewInputModelSavedTableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelInputModelSavedTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelInputModelSavedTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelInputModelSavedTableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInputModelSaveTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.InputModel" minOccurs="0" name="NewTable" nillable="true" type="q9:MD_InputModel_SaveTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInputModelSaveTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveInputModelSaveTableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInputModelTableColumn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AddFieldName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInputModelTableColumnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddInputModelTableColumnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBPrimayKeyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBPrimayKeyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDBPrimayKeyListResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelInputModelTableColumn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DelFieldName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelInputModelTableColumnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelInputModelTableColumnResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChildInputModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MainModelID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ChildModelID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChildInputModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddChildInputModelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInputModelChildDefine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.InputModel" minOccurs="0" name="InputModelChild" nillable="true" type="q11:MD_InputModel_Child" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInputModelChildDefineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveInputModelChildDefineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRefTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RefTableID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelRefTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelRefTableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelInputModelChild">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChildModelID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelInputModelChildResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelInputModelChildResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Oldid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Colname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetView2ViewGroupOfQueryModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetView2ViewGroupOfQueryModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetView2ViewGroupOfQueryModelResult" nillable="true" type="q12:ArrayOfMD_View2ViewGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddView2ViewGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddView2ViewGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddView2ViewGroupResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveView2ViewGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="View2ViewGroup" nillable="true" type="q13:MD_View2ViewGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveView2ViewGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveView2ViewGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetView2ViewList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ViewID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetView2ViewListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetView2ViewListResult" nillable="true" type="q14:ArrayOfMD_View2View" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelView2ViewGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelView2ViewGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelView2ViewGroupResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddView2View">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddView2ViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddView2ViewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveView2View">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="View2View" nillable="true" type="q15:MD_View2View" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveView2ViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveView2ViewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CMD_DelView2View">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="View2ViewID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CMD_DelView2ViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CMD_DelView2ViewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryModelExRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryModelID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FatherID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryModelExRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetQueryModelExRightsResult" nillable="true" type="q16:ArrayOfMD_QueryModel_ExRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewViewExRight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RightValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RightTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ViewID" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="FatherRight" nillable="true" type="q17:MD_QueryModel_ExRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewViewExRightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewViewExRightResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveQueryModelExRight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="QueryModel_ExRight" nillable="true" type="q18:MD_QueryModel_ExRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveQueryModelExRightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveQueryModelExRightResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CMD_DelViewExRight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="ExRight" nillable="true" type="q19:MD_QueryModel_ExRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CMD_DelViewExRightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CMD_DelViewExRightResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetView2GuideLineList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryModelID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetView2GuideLineListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetView2GuideLineListResult" nillable="true" type="q20:ArrayOfMD_View_GuideLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveView2GL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="V2GID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VIEWID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GuideLineID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Params" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DisplayOrder" type="xs:int" />
        <xs:element minOccurs="0" name="DisplayTitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveView2GLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveView2GLResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CMD_DelView2GL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="View2GL" nillable="true" type="q21:MD_View_GuideLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CMD_DelView2GLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CMD_DelView2GLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetView2ApplicationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryModelID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetView2ApplicationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetView2ApplicationListResult" nillable="true" type="q22:ArrayOfMD_View2App" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveView2App">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="V2AID" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="View2AppData" nillable="true" type="q23:MD_View2App" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveView2AppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveView2AppResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CMD_DelView2App">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="V2AID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CMD_DelView2AppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CMD_DelView2AppResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CMD_ClearView2App">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryModelID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CMD_ClearView2AppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CMD_ClearView2AppResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeartBeat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HeartBeatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HeartBeatResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryModelByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryModelByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetQueryModelByNameResult" nillable="true" type="q24:MD_QueryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryModelByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModelID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryModelByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetQueryModelByIDResult" nillable="true" type="q25:MD_QueryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryModelGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryModelGroupID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryModelGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetQueryModelGroupResult" nillable="true" type="q26:MD_QueryModelGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRefTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RefTableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRefTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetRefTableResult" nillable="true" type="q27:MD_RefTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetNodeListResult" nillable="true" type="q28:ArrayOfMD_Nodes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNameSpaceAtNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NodeDWDM" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNameSpaceAtNodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetNameSpaceAtNodeResult" nillable="true" type="q29:ArrayOfMD_Namespace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewNameSapce">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="Namespace" nillable="true" type="q30:MD_Namespace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewNameSapceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveNewNameSapceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="Nodes" nillable="true" type="q31:MD_Nodes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveNodesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="Nodes" nillable="true" type="q32:MD_Nodes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveNewNodesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NodeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelNodesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNameSapce">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="Namespace" nillable="true" type="q33:MD_Namespace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNameSapceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveNameSapceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelNamespace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="Namespace" nillable="true" type="q34:MD_Namespace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelNamespaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelNamespaceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBTableList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBTableListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetDBTableListResult" nillable="true" type="q35:ArrayOfDB_TableMeta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBTableListOfDMB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBTableListOfDMBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetDBTableListOfDMBResult" nillable="true" type="q36:ArrayOfDB_TableMeta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBColumnsOfTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBColumnsOfTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetDBColumnsOfTableResult" nillable="true" type="q37:ArrayOfDB_ColumnMeta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="TableMeta" nillable="true" type="q38:DB_TableMeta" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="Namespace" nillable="true" type="q39:MD_Namespace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveNewTableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTablesAtNamespace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NsName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTablesAtNamespaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetTablesAtNamespaceResult" nillable="true" type="q40:ArrayOfMD_Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableByTableID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableByTableIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetTableByTableIDResult" nillable="true" type="q41:MD_Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryModelAtNamespace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NsName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueryModelAtNamespaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetQueryModelAtNamespaceResult" nillable="true" type="q42:ArrayOfMD_QueryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRefTableAtNamespace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Namespace" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRefTableAtNamespaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetRefTableAtNamespaceResult" nillable="true" type="q43:ArrayOfMD_RefTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColumnsOfTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColumnsOfTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetColumnsOfTableResult" nillable="true" type="q44:ArrayOfMD_TableColumn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMainTableOfQueryModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryModelID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMainTableOfQueryModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetMainTableOfQueryModelResult" nillable="true" type="q45:MD_ViewTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTableDefine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="Table" nillable="true" type="q46:MD_Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTableDefineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveTableDefineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewQueryModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="QueryModel" nillable="true" type="q47:MD_QueryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewQueryModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveNewQueryModelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveQueryModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="QueryModel" nillable="true" type="q48:MD_QueryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveQueryModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveQueryModelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveViewMainTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="ViewTable" nillable="true" type="q49:MD_ViewTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveViewMainTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveViewMainTableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildTableOfQueryModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryModelID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildTableOfQueryModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetChildTableOfQueryModelResult" nillable="true" type="q50:ArrayOfMD_ViewTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveViewChildTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="ViewTable" nillable="true" type="q51:MD_ViewTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveViewChildTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveViewChildTableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMainTableToQueryModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryModelID" nillable="true" type="xs:string" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="SelectedTable" nillable="true" type="q52:MD_Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMainTableToQueryModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMainTableToQueryModelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChildTableToQueryModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryModelID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MainTableID" nillable="true" type="xs:string" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="SelectedTable" nillable="true" type="q53:MD_Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChildTableToQueryModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddChildTableToQueryModelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistChildTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewTableID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistChildTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistChildTableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelViewTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewTableID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelViewTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelViewTableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistChildOfView">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryModelID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistChildOfViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistChildOfViewResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelViewMeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryModelID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelViewMetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelViewMetaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelViewAndChildren">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryModelID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelViewAndChildrenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelViewAndChildrenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistViewUsedTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistViewUsedTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistViewUsedTableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTableMeta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelTableMetaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelTableMetaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewRefTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="TableMeta" nillable="true" type="q54:DB_TableMeta" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="Namespace" nillable="true" type="q55:MD_Namespace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewRefTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveNewRefTableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_RefTableColumn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RefTableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_RefTableColumnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_RefTableColumnResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRefTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="RefTable" nillable="true" type="q56:MD_RefTable" />
        <xs:element minOccurs="0" name="RefData" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRefTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveRefTableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuDefineOfNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NodeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuDefineOfNodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetMenuDefineOfNodeResult" nillable="true" type="q57:ArrayOfMD_Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubMenuDefine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FatherMenuID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubMenuDefineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetSubMenuDefineResult" nillable="true" type="q58:ArrayOfMD_Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMenuDefine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="Menu" nillable="true" type="q59:MD_Menu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMenuDefineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveMenuDefineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NodeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSystemMenuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemSubMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FatherMenuID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NodeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemSubMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSystemSubMenuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSystemMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MenuID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelSystemMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelSystemMenuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuideLineGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NodeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GuideLineGroupType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuideLineGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.QueryModel" minOccurs="0" name="GetGuideLineGroupResult" nillable="true" type="q60:ArrayOfMD_GuideLineGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuideLineOfGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuideLineOfGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.QueryModel" minOccurs="0" name="GetGuideLineOfGroupResult" nillable="true" type="q61:ArrayOfMD_GuideLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGuideLineGroupDefine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.QueryModel" minOccurs="0" name="GuideLineGroup" nillable="true" type="q62:MD_GuideLineGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGuideLineGroupDefineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveGuideLineGroupDefineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildGuideLines">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FatherGuildLineID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildGuideLinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.QueryModel" minOccurs="0" name="GetChildGuideLinesResult" nillable="true" type="q63:ArrayOfMD_GuideLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelGuideLineGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuideLineGroupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelGuideLineGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelGuideLineGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistChildOfGuideLineGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuideLineGroupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistChildOfGuideLineGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistChildOfGuideLineGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewGuideLineGroupDefine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.QueryModel" minOccurs="0" name="GuideLineGroup" nillable="true" type="q64:MD_GuideLineGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewGuideLineGroupDefineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveNewGuideLineGroupDefineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistGuideLineGroupName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuideLineGroupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistGuideLineGroupNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistGuideLineGroupNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewGuideLineItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuideLineName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FatherID" type="xs:decimal" />
        <xs:element minOccurs="0" name="GuideLineGroupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewGuideLineItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertNewGuideLineItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistChildOfGuideLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuideLineID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistChildOfGuideLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistChildOfGuideLineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelGuideLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuideLineID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelGuideLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelGuideLineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGuideLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.QueryModel" minOccurs="0" name="GuideLine" nillable="true" type="q65:MD_GuideLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGuideLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveGuideLineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConceptGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConceptGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetConceptGroupsResult" nillable="true" type="q66:ArrayOfMD_ConceptGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubConceptTagDefine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubConceptTagDefineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetSubConceptTagDefineResult" nillable="true" type="q67:ArrayOfMD_ConceptItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistConceptGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistConceptGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistConceptGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveConceptGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="ConceptGroup" nillable="true" type="q68:MD_ConceptGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveConceptGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveConceptGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewConceptGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewConceptGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewConceptGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelConcpetGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConceptGroup" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelConcpetGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelConcpetGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistChildOfConceptGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistChildOfConceptGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistChildOfConceptGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistConceptTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistConceptTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistConceptTagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewConceptTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewConceptTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewConceptTagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveConceptTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="ConceptItem" nillable="true" type="q69:MD_ConceptItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveConceptTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveConceptTagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelConceptTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CTag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelConceptTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelConceptTagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuideLineDefine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuideLineID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGuideLineDefineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.QueryModel" minOccurs="0" name="GetGuideLineDefineResult" nillable="true" type="q70:MD_GuideLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewGuideLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.QueryModel" minOccurs="0" name="GuideLine" nillable="true" type="q71:MD_GuideLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNewGuideLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveNewGuideLineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistGuideLineID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuideLineID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistGuideLineIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistGuideLineIDResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRightData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SystemID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRightDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetRightDataResult" nillable="true" type="q72:ArrayOfMD_RightDefine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRightDefine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="RightList" nillable="true" type="q73:ArrayOfMD_RightDefine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRightDefineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveRightDefineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportTableDefine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="TableDefine" nillable="true" type="q74:MD_Table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportTableDefineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportTableDefineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportRefTableDefine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="RefTable" nillable="true" type="q75:MD_RefTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportRefTableDefineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportRefTableDefineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportQueryModelDefine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="QueryModel" nillable="true" type="q76:MD_QueryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportQueryModelDefineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportQueryModelDefineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTableRelationView">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TbleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTableRelationViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTableRelationViewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQueryModelNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllQueryModelNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllQueryModelNamesResult" nillable="true" type="q77:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTable2ViewList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTable2ViewListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="GetTable2ViewListResult" nillable="true" type="q78:ArrayOfMD_Table2View" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveQueryModel_UserDefine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryModelID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Display" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Descript" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveQueryModel_UserDefineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveQueryModel_UserDefineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveViewTable_UserDefine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ViewTableID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DisplayString" nillable="true" type="xs:string" />
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.EnumDefine" minOccurs="0" name="DisplayType" type="q79:MDType_DisplayType" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MetaData.Define" minOccurs="0" name="TableColumnDefine" nillable="true" type="q80:ArrayOfMD_ViewTableColumn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveViewTable_UserDefineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveViewTable_UserDefineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveViewTableOrder_UserDefine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChildTableOrder" nillable="true" type="q81:ArrayOfKeyValueOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveViewTableOrder_UserDefineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>