SinoSysWatchService.Application/Service References/SinoSZJSCommonService/SinoSZJS.Base.TaskInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.TaskInfo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.TaskInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SinoTaskInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="LastResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NextTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RWID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RWLX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RWMC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RWML" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RWMS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RWZT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RunFlag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SinoTaskInfo" nillable="true" type="tns:SinoTaskInfo" />
</xs:schema>