SinoSysWatchService.Application/Service References/SinoSZJSCommonService/SinoSZJS.Base.MenuType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MenuType" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SinoSZJS.Base.MenuType" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSinoMenuItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SinoMenuItem" nillable="true" type="tns:SinoMenuItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSinoMenuItem" nillable="true" type="tns:ArrayOfSinoMenuItem" />
  <xs:complexType name="SinoMenuItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="Children" nillable="true" type="tns:ArrayOfSinoMenuItem" />
      <xs:element minOccurs="0" name="DisplayOrder" type="xs:int" />
      <xs:element minOccurs="0" name="FatherID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IconIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IconName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Level" type="xs:int" />
      <xs:element minOccurs="0" name="MenuID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuParameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SinoMenuItem" nillable="true" type="tns:SinoMenuItem" />
  <xs:complexType name="ArrayOffirstPageItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="firstPageItem" nillable="true" type="tns:firstPageItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffirstPageItem" nillable="true" type="tns:ArrayOffirstPageItem" />
  <xs:complexType name="firstPageItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemParam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="firstPageItem" nillable="true" type="tns:firstPageItem" />
</xs:schema>