SinoSZJS.Base/Service References/TokenService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetCurrentUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TokenTicket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentUserResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TokenTicket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckTicketResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TokenTicket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AddUser" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertTokenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>